.input-box
  = form_for [@group, @message], html: {class: "chat-box"} do |f|
    = f.text_field :text, class: "chat-box__text", placeholder: "type a message"
    .input.chat-box__image
      = f.label :image, class: "chat-box__image__icon", for: "image_upload" do
        = fa_icon("image lg")
        = f.file_field :image, id: "image_upload"
    = f.submit "Send", class: "chat-box__send"
