= form_for group, {id: "new_chat_group",class: "new_chat_group", "accept-charset": "UTF-8"} do |f|
  -if group.errors.any?
    .chat-group-form__errors
      %h2= "#{group.errors.full_messages.count}件のエラーが発生しました。"
      %ul
      - group.errors.full_messages.each do |message|
        %li= message
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :name,  "グループ名", class: "chat-group-form__label",for: "chat_group_name"
    .chat-group-form__field--right
      =f.text_field :name, id: "chat_group_name", class: "chat-group-form__input", placeholder: "グループ名を入力してください"
  .chat-group-form__field.clearfix#get-group-id
    =render partial: 'users/form'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      =f.label :name, "チャットメンバー", class: "chat-group-form__label", for: "chat_group_チャットメンバー"
    .chat-group-form__field--right
      %div{id:'chat-group-users', data:{group_id: group.id}}
        %div{class: 'chat-group-user clearfix',data:{id: current_user.id}}
          %input{class:'group_user_ids', name:'group[user_ids][]', type:'hidden', value: current_user.id} 
          %p{class:'chat-group-user__name', data:{id: @users.ids}}
            =current_user.name        
      -@users.each do |user|
        -if (user.id != current_user.id)
          %div{class:'chat-group-user clearfix', data:{id: user.id, name: user.name}}
            %input{class: 'group_user_ids', name:'group[user_ids][]', type:'hidden', value: user.id}
            %p.chat-group-user__name
              =user.name
            %a.user-search-remove.chat-group-user__btn.chat-group-user__btn--remove.js-remove-btn 削除
        #add-group-users             
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit class: "chat-group-form__action-btn"
